<h2>Posts</h2>

<div class="posts-container">
  <div class="posts-container-inner" *ngIf="posts">

    <ul class="posts" *ngFor="let post of posts">
      <li class="post-item">
        <span>{{post.authorID}}</span>
        <h3>
          <a
            [title]="post.title + ' details'"
            routerLink="/posts/{{post.id}}">
            {{ post.title }}
          </a>
        </h3>
        <p>{{post.summary}}</p>
        <span>{{post.publishedAt}}</span>
      </li>
    </ul>

  </div>
</div>
