<div class="container" *ngIf="loaded">
  <div>
    <button type="button" (click)="goBack()">Go Back</button>
  </div>

  <br>

  <div *ngIf="post">
    <h2>Post Detail #{{post.id}}</h2>
    <br>
<!--    <input [(ngModel)]="post.title">-->
<!--    <button class="btn success" type="button" (click)="updateTitle(album!)">Save</button>-->
    <h3>{{post.title}}</h3>
<!--    <span>{{user.first_name}}</span>-->
    <span>{{post.createdAt}}</span>
    <p>{{post.content}}</p>
<!--    <p *ngIf="saving">Updates are saving...</p>-->

    <div>
      <app-comments [post]="post"></app-comments>
    </div>
  </div>

</div>

<div *ngIf="!loaded">Data is loading...</div>
