/* You can add global styles to this file, and also import other style files */
* {
  /*font-family: "Times New Roman", sans-serif;*/
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  color: coral;
  margin: 0;
}

.container {
  padding: 20px;
}

