<div class="container">
  <form [formGroup]="loginForm!" (ngSubmit)="onSubmit()">
    <div class="container-inner">
      <h2>Login</h2>

      <p>Please fill in this form to enter an account.</p>

      <hr>

      <label for="username"><b>Username</b></label>
      <input type="text" formControlName="username" placeholder="Enter Username" name="uname">
      <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
        <div *ngIf="f['username'].errors['required']">Username is required</div>
      </div>

      <label for="password"><b>Password</b></label>
      <input type="password" formControlName="password" placeholder="Enter Password" name="psw">
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
      </div>

      <hr>

      <button [disabled]="loading" type="submit">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>
  </form>
</div>
