/* Content side */
.content {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 10px;
}

.main-content {
  /*background-color: bisque;*/
  border: 1px solid rgb(5, 174, 253);
}

app-tags {
  /*background-color: coral;*/
  margin-left: 10px;
  border: 1px solid rgb(5, 174, 253);
}
