.comments-container {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border: 1px solid rgb(5, 174, 253);
}

.comment-item {
  padding: 10px;
  background-color: beige;
}

.comment-item span {
  font-weight: bolder;
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  background-color: #3c3c3c;
  height: 40px;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 80%;
}
